@font-face {
  font-family: "ISOCPEUR";
  src: url("ISOCPEUR.ttf") format("truetype");
}
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  font-family: "ISOCPEUR", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  /* overflow: hidden; */
}

.logo {
  z-index: 10;
  position: fixed;
  top: 30px;
  left: 35px;
  color: #fff;
}

.logo:hover {
  color: black;
}

.logo span {
  font-size: 34px;
  letter-spacing: 14px;
  /* color: white; */
  font-weight: 800;
}

#subText {
  font-size: 18px;
  font-weight: 580;
  font-size: 16px;
  letter-spacing: 3.75px;
}

.menu {
  z-index: 10;
  position: fixed;
  height: 6%;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: #fff;
  opacity: 1;
  transition: opacity 1s;
}
.menu:hover {
  background-color: rgba(53, 53, 53, 0.75);
  padding-top: 20px;
}

.menu-item {
  margin: 0 25px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 7px;
  color: white;
}

.menu-item:hover {
  color: black;
}

/* .company_name {
  font-size: 22px;
  letter-spacing: 15px;
  background-color: white;
  padding: 2.5%;
}

.company_name:hover {
  color: dimgrey;
} */

/* projects style */
/* #projects {
  height: 150%;
  width: 100%;
}

.project {
  width: 49.83%;
  height: 29%;
  display: inline-block;
  position: relative;
  opacity: 1;
  background-size: 190%;
  background-position: center;
  transition: opacity 1.5s ease, background-size 2s ease;
}

.project:hover {
  box-shadow: inset 0px 5px 10px 0px rgb(30, 30, 30, 0.5);
  background-size: 200%;
  opacity: 0.3;
  outline: 1.5px solid black;
  outline-offset: -60px;
  transition: opacity 1.5s ease, background-size 2s ease;
}

span {
  width: 49.83%;
  text-align: center;
  color: black;
  position: absolute;
  font-size: 22px;
  font-weight: 800;
  margin-top: 9%;
}

.sub-text {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 12%;
} */

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-image-container {
  width: 50%;
  position: relative;
}

.project-image {
  width: 100%;
  height: 100%;
  display: block;
  padding: 5px;
  box-sizing: border-box;
  transition: opacity 0.3s;
  outline: 1.5px solid rgb(255, 255, 255, 0.5);
  outline-offset: -60px;
}

.project-image-container:hover .project-image {
  opacity: 0.3;
  outline: 1.5px solid rgba(0, 0, 0);
}

.project-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  color: black;
  font-size: 22px;
}

.project-image-container:hover .project-details {
  opacity: 1;
}
