/* @import url(//db.onlinewebfonts.com/c/4b5ae315f5df148f0ab479a7cedc9832?family=ISOCPEUR); */

/* @font-face {
  font-family: "ISOCPEUR";
  src: url("//db.onlinewebfonts.com/t/4b5ae315f5df148f0ab479a7cedc9832.eot");
  src: url("//db.onlinewebfonts.com/t/4b5ae315f5df148f0ab479a7cedc9832.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4b5ae315f5df148f0ab479a7cedc9832.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/4b5ae315f5df148f0ab479a7cedc9832.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/4b5ae315f5df148f0ab479a7cedc9832.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/4b5ae315f5df148f0ab479a7cedc9832.svg#ISOCPEUR")
      format("svg");
} */

@font-face {
  font-family: "ISOCPEUR";
  src: url("ISOCPEUR.ttf") format("truetype");
}

html,
body {
  height: 100%;
  background-color: rgb(30, 30, 30);
  font-family: "ISOCPEUR", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* logo */
.logo {
  z-index: 10;
  position: fixed;
  top: 30px;
  left: 35px;
  color: #fff;
  font-family: "Isocpeur", sans-serif;
  opacity: 1;
  transition: opacity 1s;
}

.logo span {
  font-size: 38px;
  letter-spacing: 14px;
  color: white;
  font-weight: 800;
}

#subText {
  font-size: 20px;
  margin-top: 7px;
  font-weight: 580;
  letter-spacing: 3.75px;
}

.logo.hide {
  opacity: 0;
}

/* menu */
.menu {
  z-index: 10;
  position: fixed;
  height: 6%;
  width: 100%;
  text-align: center;
  justify-content: center;
  bottom: 0;
  color: #fff;
  opacity: 1;
  transition: opacity 1s;
}

.menu.hide {
  opacity: 0;
}

.menu-item {
  z-index: 20;
  margin: 0 25px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 7px;
}

/* social-icons */
.social-icon {
  z-index: 20;
  margin: 6px;
  color: #fff;
  font-size: 18px;
}

.social-icons.hide {
  opacity: 0;
}

/* 01 bc*/
/*
 .social-icons {
  z-index: 20;
  position: fixed;
  bottom: 8px;
  left: 50%;
  transform: translateX(-55%);
  display: flex;
  align-items: center;
  color: #fff;
  opacity: 1;
  transition: opacity 1s;
} */

/* 02 br */
/* .social-icons {
  z-index: 20;
  position: fixed;
  height: 6%;
  width: 5%;
  bottom: 1%;
  right: 0;
  transform: translateX(-55%);
  display: flex;
  color: #fff;
  opacity: 1;
  transition: opacity 1s;
} */

/* 03 tc*/
/* .social-icons {
  z-index: 20;
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-55%);
  display: flex;
  align-items: center;
  color: #fff;
  opacity: 1;
  transition: opacity 1s;
} */

/* 04 cr */
.social-icons {
  z-index: 20;
  position: fixed;
  height: 100%;
  width: 3.5%;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  opacity: 1;
  transition: opacity 1s;
}

/* slideshow-container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.slideshow-container {
  overflow: hidden;
}

.slideshow-slide img,
.slideshow-slide video {
  position: absolute;
  z-index: 1;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s;
}

.slideshow-slide.active img,
.slideshow-slide.active video {
  z-index: 2;
  opacity: 1;
}

.slideshow-slide.active img.overlay {
  z-index: 3;
  opacity: 0;
  transform: scale(1);
  animation: scale 5s linear forwards;
  transition: opacity 2s ease;
}

.slideshow-slide.active img.move_left {
  z-index: 4;
  opacity: 0;
  left: 0;
  width: 110%;
  min-height: 100%;
  animation: slide 3s forwards, move-left 5s linear forwards;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
